.container-all {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;

  .container-cards {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 90%;
    background-color: #ffff;

    .card {
      border: none;
      width: 15rem !important;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-20px);
      }

      .image {
        border-radius: 1vh;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
      }
      .card-body {
        .card-title {
          font-family: "Flexo-Demi", arial, sans-serif;
          color: #313131;
          text-transform: none;
          font-size: 145%;
          margin-bottom: 5px;
        }
        .card-id {
          color: rgba(0, 0, 0, 0.544);
          font-size: 18px;
          margin-top: -15px;
        }
        .card-type {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          text-align: center;
          gap: 30px;
          h5 {
            margin-bottom: 0px;
            padding: 5px 10px 5px 10px;
            border-radius: 1vh;
            color: white;
          }
        }
      }
    }
  }
}
